
  .as-social-facebook {
    background: #3B5998;
  }
  .as-social-twitter {
    background: #55ACEE;
  }
  .as-social-linkedin {
    background: #0077B5;
  }
 
  .as-social-email {
    background: grey;
  }


  .hover\:w-full:hover {
    width: 100%;
}
.group:hover .group-hover\:w-full {
    width: 100%;
}
.group:hover .group-hover\:inline-block {
    display: inline-block;
}
.group:hover .group-hover\:flex-grow {
    flex-grow: 1;
}