/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(240, 240, 241) rgb(248, 248, 248);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(226, 226, 226);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(37, 37, 37, 0.866);
    border-radius: 1px;
    border: 0.2px solid rgb(167, 166, 166);
  }


  .feature__image { 
    position: relative;
    background-repeat: no-repeat;
    background-size: min(90%, 25rem); /* 90% => 400px */
    background-position: left center;
    width: 100%;
    min-height: 18rem; /* 288px */
  }
  